$white-color: #fff2f9;
$darkBlue-shadow: #2a4458;
$blue: #1a73e8;
$blue-shadow: #101096;
$gray-border: #cdcfd4;
$gray-text: #99a1ae;
$gray-text-dark: #777777;
$light-gray-border: #deddd9;
$blue-card: #dce9ff;
$yellow: #fbbc04;
$light-gray: #f2f3f4;
$orange: #fe7b60;
$light-black: #212529;
$black: #000000;
$danger: #d9534f;
$blue-gray: gray;
/*$light-bc-gray:gray;*/
$blue-grid: #80c8ea;
$danger-hover: #c9302c;
$success: #5cb85c;
$success-hover: #449d44;
$warning: #f0ad4e;
$warning-hover: #ec971f;
$green-save: #00c853;
$dark-green: #007832;
$well-bg: #f1f0f0;
$well-border: #d3d3d3;
$dark-gray: #464457;
$light-yellow: #fdcf00;
$purple: #5867dd;
$violet: #17479c;
$exit-btn: #ff5859;
$userprofile-blue: #2588eb;
$title-blue: #1a73e8;
$bg-lightcolor: #f1f1f1;
$shadow-gray: #b5b6bb;
$obexit-btn: #ff397a;
$archive-btn: #556784;
$app-border-green: #11b39f;
$faq-bg: #e4edf3;
$hasLimitationColor: #ffc3c3;
$ob-yellow: #fbb321;
$dark-yellow: #ff7600;
$icon-hover-red: #dc3545;
$admin-border:#dae0f6;
